<section data-ng-controller="HomeController">
	<div data-ng-hide="authentication.user" ng-include="'modules/users/views/authentication/signin.client.view.html'"></div>
<!-- STEVE'S CODE -->    
	<div class="container-fluid" data-ng-show="authentication.user">
	  	<div class="row">
		    <div class="col-sm-3 col-md-2 Lsidebar" ng-include="'modules/core/views/leftNav.html'" scope="" onload=""></div>
		    
		    <div class="col-sm-0 col-sm-offset-12 col-md-2 col-md-offset-10 Rsidebar" ng-include="'modules/core/views/newsFeed.html'" scope="" onload=""></div>

		    <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main" ng-include="pageUrl" scope="" onload=""></div>
	  	</div>
	</div>

</section>


