<p>[YOUR NAME]</p>
<ul class="nav nav-sidebar">
	<li ng-class="{active: navTab=== 0}"><a href="#!/welcome.html" ng-click="setTab(0)">My Team</a></li>
	<li ng-class="{active: navTab===1}"><a href="#!/checklists" ng-click="setTab(1)">My Checklists</a></li>
	<li ng-class="{active: navTab===2}"><a href="#!/templates" ng-click="setTab(2)">My Templates</a></li>
</ul>
<p>Favorites</p>
<ul class="nav nav-sidebar">
	<li ng-class="{active: navTab===3}"><a href="#" ng-click="setTab(3)">My Team</a></li>
	<li ng-class="{active: navTab===4}"><a href="#" ng-click="setTab(4)">My Checklists</a></li>
	<li ng-class="{active: navTab===5}"><a href="#" ng-click="setTab(5)">My Templates</a></li>
</ul>
<p>Recent</p>
<ul class="nav nav-sidebar">
	<li ng-class="{active: navTab===6}"><a href="#" ng-click="setTab(6)">My Team</a></li>
	<li ng-class="{active: navTab===7}"><a href="#" ng-click="setTab(7)">My Checklists</a></li>
	<li ng-class="{active: navTab===8}"><a href="#" ng-click="setTab(8)">My Templates</a></li>
</ul>