<div class="scrollable">
  <h1 class="app-name">My Newsfeed</h1>  
  <div class="scrollable-content">
    <ul class="list-group news-feed" toggle="off" bubble target="rightSidebar">
      <li class="list-group-item">A team member checked off some stuffs</li>
			<li class="list-group-item">A team member decided to start a task</li>
			<li class="list-group-item">A team member decided to be productive! Wait... Nvm...</li>
			<li class="list-group-item">A team member checked off some stuffs</li>
			<li class="list-group-item">A team member decided to start a task</li>
			<li class="list-group-item">A team member decided to be productive! Wait... Nvm...</li>
			<li class="list-group-item">A team member checked off some stuffs</li>
			<li class="list-group-item">A team member decided to start a task</li>
			<li class="list-group-item">A team member decided to be productive! Wait... Nvm...</li>
			<li class="list-group-item">A team member checked off some stuffs</li>
			<li class="list-group-item">A team member decided to start a task</li>
			<li class="list-group-item">A team member decided to be productive! Wait... Nvm...</li>
			<li class="list-group-item">A team member checked off some stuffs</li>
			<li class="list-group-item">A team member decided to start a task</li>
			<li class="list-group-item">A team member decided to be productive! Wait... Nvm...</li>
			<li class="list-group-item">A team member checked off some stuffs</li>
			<li class="list-group-item">A team member decided to start a task</li>
			<li class="list-group-item">A team member decided to be productive! Wait... Nvm...</li>
    </ul>
  </div>
</div>