.container-fluid {
	margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.Lsidebar, .Rsidebar, .bigOnly {
  display: none;
}

@media (min-width: 768px) {
  .Lsidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
  }
  .Rsidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    border-left: 1px solid #eee;
  }
  .bigOnly{
    display: inline;
  }

  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }

  .news-feed :hover{
    background-color: #eee;
  }


  a.checklist-button{
    float: left;
    width: 140px;
  }

  a.checklist-button:link, a.checklist-button:visited {
    color: #ffffff;
    text-decoration: none;
  }

  a.checklist-button:hover {
    color: #0abcde;
    text-decoration: none;
  }
}

.navbar-toggle.left {
  float: left;
}

.navbar-toggle.visible {
  color: #fff;
}

.scrollable {
  margin-top: 50px;
}

@media (min-width: 992px) {
  .has-sidebar-right .app {
    width: auto;
    margin-right: 300px;
    right: 0;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    position: relative;
    -webkit-transition: -webkit-transform 0 ease;
    -moz-transition: -moz-transform 0 ease;
    transition: transform 0 ease;
  }
}

@media (min-width: 1200px) {
  .has-sidebar-right .app {
    margin-right: 320px;
  }
}