<!-- Notification section -->
<section data-ng-controller="NotificationsController" data-ng-init="find()">
    <div ng-show="notifications.length">
        <div class="page-header">
            <h1>Notifications</h1>
        </div>
        <div class="list-group">
            <!-- <a data-ng-repeat="notification in notifications" data-ng-href="#!/notifications/{{notification._id}}" class="list-group-item"> -->
            <div data-ng-repeat="notification in notifications track by $index" class="list-group-item">
                <!-- <small class="list-group-item-text">
                    Posted on
                    <span data-ng-bind="notification.created | date:'medium'"></span>
                    by
                    <span data-ng-bind="notification.user.displayName"></span>
                </small>
                <h4 class="list-group-item-heading" data-ng-bind="notification.name"></h4> -->
                <button type="button" ng-click="accept(notification.team.members,$index)" value="Accept" class="btn btn-primary functionButton">Accept</button>
                <button type="button" ng-click="decline($index)" value="Decline" class="btn btn-primary functionButton">Decline</button>
                <span>You received an invitation from 
                    <!-- <span data-ng-bind="notification.user.displayName"></span> -->
                    <span data-ng-bind="notification.team.name"></span>
                </span>
                
            </div>
        </div>
        <div class="alert text-center" data-ng-hide="!notifications.$resolved || notifications.length">
            No notifications yet
        </div>
    </div>
</section>
<!-- Team section -->
<section data-ng-controller="TeamsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Teams</h1>
    </div>
    <div>
        <a class="btn btn-primary" href="/#!/teams/create" style="margin-bottom:10px">
            <i class="glyphicon glyphicon-plus"></i><span> Create New Team</span>
        </a>
    </div>
    <div class="list-group">
        <a data-ng-repeat="team in teams" data-ng-href="#!/teams/{{team._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="team.created | date:'medium'"></span>
				by
				<span data-ng-bind="team.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="team.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!teams.$resolved || teams.length">
    	No Teams yet, why don't you <a href="/#!/teams/create">create one</a>?
    </div>
</section>