<section data-ng-controller="TeamsController" data-ng-init="findOne();findTeamNotification()">
	<div style="padding: 3%;">
  		<form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                	<div class="page-header">
						<edit-in-place class="titleName" data-ng-model="team.name" value="team.name"></edit-in-place>
					</div>
                    <p class="subTitle">Members</p>
                    <ul>
                        <li ng-repeat="member in team.members track by $index">
                            <div class="memberBox">
                                <span>
                                    <span>{{member.id.username[0]}}</span>
                                    <button type="button" class="deleteBox" aria-hidden="true" ng-click="deleteMember($index,team.members);update()" ng-show='checkAccess()'>&times;</button>
                                </span>
                            </div>
                        </li>
                    </ul>

                    <div class="controls" ng-show='checkAccess()'>
                        <input type="text" ng-enter="addMember()" data-ng-model="memberInput" id="name" class="form-control" placeholder="Add new member">
                        <button type="button" ng-click="addMember()" class="btn btn-primary" style="margin-top: 10px;"><i class="glyphicon glyphicon-plus"></i> Add New Member </button>
                    </div>
                </div>
                <!-- checklists -->
                <div class="list-group">
                    <a data-ng-repeat="checklist in team.checklists | filter: {active: true}" data-ng-href="#!/checklists/{{checklist._id}}" class="list-group-item">
                        <small class="list-group-item-text">
                            Posted on
                            <span data-ng-bind="checklist.created | date:'medium'"></span>
                            by
                            <span data-ng-bind="checklist.user.username"></span>
                        </small>
                        <h4 class="list-group-item-heading" data-ng-bind="checklist.name"></h4>
                    </a>
                </div>

                <!-- controlls -->
                <div class="form-group function">
                	<a class="btn btn-primary functionButton" href="#!/teams">
						<i class="glyphicon glyphicon-th-list"></i> Back To List
					</a>
					<span ng-show='checkAccess()'>
	                    <button type="button" ng-click="update()" value="Update" class="btn btn-primary functionButton"><i class="glyphicon glyphicon-cloud-upload"></i> Update</button>
	                    <a class="btn btn-primary functionButton" data-ng-click="remove();">
							<i class="glyphicon glyphicon-trash"></i> Delete
						</a>
					</span>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>

</section>
    

