@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}

.remove-account-container {
	display: inline-block;
	position: relative;
}

.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.in-one-line{
  display: block;
  white-space:nowrap;
}

.nugg-logo-small{
	margin: 5px;
}

.centerInput{
	margin-right:auto; 
	margin-left:auto;
}

.sign{
	margin-top: 10%;
}