<section data-ng-controller="ChecklistsController" data-ng-init="findOne()">
		<div class="page-header">
			<span><font size="10" data-ng-bind="checklist.name"></font>
			<font class="pull-right" size="10">
				{{percentage()}} %
			</font>
		</span>
		<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage()}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percentage()+'%')}">
			    <!-- 60% -->
			  </div>
		</div>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="checklist.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="checklist.user.username"></span>
			</em>
	</div>
	<small>
		<ul>
	      	<li ng-repeat="task in checklist.taskList track by $index" >
			    <label class="tasks-list-item">
	        		<input type="checkbox" class="tasks-list-cb" data-ng-model="task.isDone" ng-change="update(task)">
	        		<!-- <span class="tasks-list-mark"></span> -->
	        		<i class="glyphicon glyphicon-check bigFont" ng-show="task.isDone"></i>
	        		<i class="glyphicon glyphicon-unchecked bigFont" ng-hide="task.isDone"></i>
	        		<span class="tasks-list-desc"><font size='5'>{{task.name}}</font></span>
	        	</label>
	      	</li>
	  	</ul>
	</small>
	<div class="form-group function">
		<a class="btn btn-primary" href="#!/teams/{{checklist.team}}" ng-show="checklist.team">
			<i class="glyphicon glyphicon-th-list"></i> Back To Team
		</a>
		<a class="btn btn-primary" href="#!/checklists" ng-hide="checklist.team">
			<i class="glyphicon glyphicon-th-list"></i> Back To List
		</a>

 		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i> Delete
		</a>
	</div>
</section>