<section data-ng-controller="TemplatesController">
    <div class="page-header">
        <h1>New Template</h1>
    </div>
    <div class="col-sm-12">
        <form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <h2>Title</h2>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <h3>Tasks</h3>
                    <ul ui-sortable="taskListSortable" data-ng-model="taskList" class="list-unstyled">
                        <li ng-repeat="task in taskList track by $index">
                            <edit-in-place class="taskName" value="task.name"></edit-in-place>
                            <button type="button" class="close pull-right" aria-hidden="true" ng-click="deleteTask($index)">&times;</button>
                        </li>
                    </ul>
                    <div class="controls">
                        <input type="text" ng-enter="addTask()" data-ng-model="taskInput" id="name" class="form-control" placeholder="Add new task">
                        <button type="button" ng-click="addTask()" class="btn btn-primary" style="margin-top: 10px;">Add New Task</button>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" ng-click="create()" class="btn btn-default">Submit</button>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>