<section data-ng-controller="TemplatesController" data-ng-init="findOne()">
  	<div style="padding: 3%;">
  		<form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                	<div class="page-header">
						<edit-in-place class="titleName" data-ng-model="template.name" value="template.name"></edit-in-place>
					</div>

                    <ul ui-sortable="taskListSortable" data-ng-model="template.taskList" class="list-unstyled">
                        <li class="taskItem" ng-repeat="task in template.taskList track by $index">
                            <edit-in-place class="taskName" value="task.name"></edit-in-place>
                            <button type="button" class="close pull-right" aria-hidden="true" ng-click="deleteTask($index,template.taskList);update()" ng-show='checkCreator()'>&times;</button>
                        </li>
                    </ul>

                    <div class="controls" ng-show='checkCreator()'>
                        <input type="text" ng-enter="addTask(template.taskList);update()" data-ng-model="taskInput" id="name" class="form-control" placeholder="Add new task">
                        <button type="button" ng-click="addTask(template.taskList);update()" class="btn btn-primary" style="margin-top: 10px;"><i class="glyphicon glyphicon-plus"></i> Add New Task </button>
                    </div>
                </div>
                <div class="form-group function">
                	<a class="btn btn-primary functionButton" href="#!/templates">
						<i class="glyphicon glyphicon-th-list"></i> Back To List
					</a>
                    <button type="button" ng-click="useChecklist()" class="btn btn-primary functionButton">
                        <i class="glyphicon glyphicon-check"></i> Use Checklist
                    </button>
                    <button type="button" ng-click="open(sm)" class="btn btn-primary functionButton">
                        <i class="glyphicon glyphicon-check"></i> Use as Team Checklist
                    </button>
					<span ng-show='checkCreator()'>
                        <button type="button" ng-click="update()" value="Update" class="btn btn-primary functionButton"><i class="glyphicon glyphicon-cloud-upload"></i> Update</button>
                        <a class="btn btn-primary functionButton" data-ng-click="create(template);">
    						<i class="glyphicon glyphicon-list-alt"></i> Make A Copy
    					</a>
                        <a class="btn btn-primary functionButton" data-ng-click="remove();">
    						<i class="glyphicon glyphicon-trash"></i> Delete
    					</a>
					</span>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>

    <!-- modal -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Teams</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="team in teams track by $index">
                    <a ng-click="choose($index)">{{ team.name }}</a>
                </li>
            </ul>
            You Selected: <b> {{teams[selected].name}}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok($index)">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</section>

