.taskName{
	font-size: 20px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}



.edit-in-place span {
  cursor: pointer;
}

.edit-in-place input {
  display: none;
}

.edit-in-place.active span {
  display: none;
}

.edit-in-place.active input {
  display: inline-block;
}
