.taskName{
	font-size: 25px;
	border-bottom: 1px solid #eee;
	padding-bottom: 2px;
}

.titleName{
	font-size: 50px;
	padding-bottom: 5px;
	margin-top: 50px;
}

.edit-in-place span {
  cursor: pointer;
}

.edit-in-place input {
  display: none;
}

.edit-in-place.active span {
  display: none;
}

.edit-in-place.active input {
  display: inline-block;
}
