<section data-ng-controller="LogsController" data-ng-init="find()">
	<div class="scrollable">
 		<h1 class="app-name">My Newsfeed</h1> 
 		<div class="scrollable-content">

			<ul class="list-group news-feed" toggle="off" bubble target="rightSidebar">
				<a data-ng-repeat="entry in logs" data-ng-href="{{buildUrl(entry)}}" class="list-group-item">
					<li>
						<em>{{entry.user.displayName}} </em>
					</li>
					<li data-ng-bind="buildString(entry)"></li>
				</a>
			</ul>

		</div>
	</div>
</section>

 
